# Project 2 - Customer Service Request Analysis

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("311_Service_Requests_from_2010_to_Present.csv")

/var/folders/jp/lmlcq7793rq6d18q105ksf480000gn/T/ipykernel_11572/3446402816.py:6: DtypeWarning: Columns (48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("311_Service_Requests_from_2010_to_Present.csv")

## 1. Understand the Dataset
### 1.a Identify the shape of the dataset

In [5]:
df.shape

(364558, 53)

In [7]:
df.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,12/31/2015 11:59:45 PM,01/01/2016 12:55:15 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,12/31/2015 11:59:44 PM,01/01/2016 01:26:57 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,12/31/2015 11:59:29 PM,01/01/2016 04:51:03 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"
3,32305098,12/31/2015 11:57:46 PM,01/01/2016 07:43:13 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10461.0,2940 BAISLEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.835994,-73.828379,"(40.83599404683083, -73.82837939584206)"
4,32306529,12/31/2015 11:56:58 PM,01/01/2016 03:24:42 AM,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11373.0,87-14 57 ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.733060,-73.874170,"(40.733059618956815, -73.87416975810375)"

In [8]:
df.describe()

,Unique Key,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),School or Citywide Complaint,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Garage Lot Name,Latitude,Longitude
count,3.645580e+05,361560.000000,3.605280e+05,360528.000000,0.0,0.0,0.0,0.0,0.0,360528.000000,360528.000000
mean,3.106595e+07,10858.496659,1.005043e+06,203425.305782,NaN,NaN,NaN,NaN,NaN,40.724980,-73.924946
std,7.331531e+05,578.263114,2.196362e+04,29842.192857,NaN,NaN,NaN,NaN,NaN,0.081907,0.079213
min,2.960737e+07,83.000000,9.133570e+05,121185.000000,NaN,NaN,NaN,NaN,NaN,40.499040,-74.254937
25%,3.049938e+07,10314.000000,9.919460e+05,182945.000000,NaN,NaN,NaN,NaN,NaN,40.668742,-73.972253
50%,3.108795e+07,11209.000000,1.003470e+06,201023.000000,NaN,NaN,NaN,NaN,NaN,40.718406,-73.930643
75%,3.167433e+07,11238.000000,1.019134e+06,222790.000000,NaN,NaN,NaN,NaN,NaN,40.778166,-73.874098
max,3.231065e+07,11697.000000,1.067186e+06,271876.000000,NaN,NaN,NaN,NaN,NaN,40.912869,-73.700715

#### The data set has 53 fields and 364,558 entries

### 1.b Identify the variables with null values

In [6]:
for col in df:
    null_vals = df[col].isna().sum(axis=0)
    if null_vals:
        print(col, " has ", null_vals, " null value(s)")

Closed Date  has  2381  null value(s)
Descriptor  has  6501  null value(s)
Location Type  has  133  null value(s)
Incident Zip  has  2998  null value(s)
Incident Address  has  51699  null value(s)
Street Name  has  51699  null value(s)
Cross Street 1  has  57188  null value(s)
Cross Street 2  has  57805  null value(s)
Intersection Street 1  has  313438  null value(s)
Intersection Street 2  has  314046  null value(s)
Address Type  has  3252  null value(s)
City  has  2997  null value(s)
Landmark  has  364183  null value(s)
Facility Type  has  2389  null value(s)
Due Date  has  3  null value(s)
Resolution Action Updated Date  has  2402  null value(s)
X Coordinate (State Plane)  has  4030  null value(s)
Y Coordinate (State Plane)  has  4030  null value(s)
School Region  has  1  null value(s)
School Code  has  1  null value(s)
School Zip  has  1  null value(s)
School or Citywide Complaint  has  364558  null value(s)
Vehicle Type  has  364558  null value(s)
Taxi Company Borough  has  364558  null value(s)
Taxi Pick Up Location  has  364558  null value(s)
Bridge Highway Name  has  364261  null value(s)
Bridge Highway Direction  has  364261  null value(s)
Road Ramp  has  364296  null value(s)
Bridge Highway Segment  has  364296  null value(s)
Garage Lot Name  has  364558  null value(s)
Ferry Direction  has  364557  null value(s)
Ferry Terminal Name  has  364556  null value(s)
Latitude  has  4030  null value(s)
Longitude  has  4030  null value(s)
Location  has  4030  null value(s)

## 2. Perform Basic Data Exporatory Analysis
### 2.a Utilize Missing Value Treatment

Perform the following steps:

1. Understand the dataset:

  a. Identify the shape of the dataset

  b. Identify variables with null values

2. Perform basic data exploratory analysis:

Utilize missing value treatment

Analyze the date column and remove the entries if it has an incorrect timeline

Draw a frequency plot for city-wise complaints

Draw scatter and hexbin plots for complaint concentration across Brooklyn

3. Find major types of complaints:

Plot a bar graph of count vs. complaint types

Find the top 10 types of complaints

Display the types of complaints in each city in a separate dataset

 

4. Visualize the major types of complaints in each city

5. Check if the average response time across various types of complaints

6. Identify significant variables by performing a statistical analysis using p-values and chi-square values (Optional)