In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Social_Network_Ads.csv')

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
# Create a ML Model that can predict whether the customer will make a purchase in my online shopping portal
# based on customer's age and customer's estimated salary

In [5]:
# Check whwther the given dataset is a balanced or unbalanced dataset
#

data.Purchased.value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [6]:
# The given dataset is an UNBALANCED DATASET
# Quality Metric Selected --> F1 Score (Stat Approach)

In [7]:

# Identify the SL value -> 0.1 (Given by your trainer | Given by Data Scientist)
# CL value --------------> 0.9
# We need a generalized model 
# testF1Score > trainF1Score and testF1Score >= CL

In [8]:
#Create features and label
features = data.iloc[:,[2,3]].values
label = data.iloc[:,4].values

In [9]:
#Create Train Test Splits

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(features,
                                                 label,
                                                 test_size=0.2,
                                                 random_state=1)

In [10]:
#Initialize LogisticRegression Algorithm and trained the model with the training samples

from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

In [11]:
# Check the Quality of the model

trainScore = model.score(X_train,y_train)
testScore = model.score(X_test,y_test)

print(" Training Score is {} and Testing Score is {}".format(trainScore,testScore))

 Training Score is 0.653125 and Testing Score is 0.6

In [13]:
#Accuracy
from sklearn.metrics import accuracy_score 
print("Training Score is {} and Testing Score is {}".format(accuracy_score(y_train,model.predict(X_train)),accuracy_score(y_test,model.predict(X_test))))

Training Score is 0.653125 and Testing Score is 0.6

In [14]:
#F1 Score
from sklearn.metrics import f1_score
print("Training Score is {} and Testing Score is {}".format(f1_score(y_train,model.predict(X_train)),f1_score(y_test,model.predict(X_test))))

Training Score is 0.0 and Testing Score is 0.0

In [16]:
from sklearn.metrics import classification_report
print(classification_report(y_train,model.predict(X_train)))

              precision    recall  f1-score   support

           0       0.65      1.00      0.79       209
           1       0.00      0.00      0.00       111

    accuracy                           0.65       320
   macro avg       0.33      0.50      0.40       320
weighted avg       0.43      0.65      0.52       320

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [17]:
# Get a model with a satisfactory F1 Score

In [21]:
#Deploy Test

age = int(input("Enter Age: "))
estimatedSalary = int(input("Enter Salary: "))

customerType = "Good Customer" if model.predict(np.array([[age,estimatedSalary]]))[0] == 0 else "Bad Customer"
customerType

Enter Age: 34
Enter Salary: 234343434

'Good Customer'